.test {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
  }
  
  .btn:hover{
    background-color: black;
  }
  .kbd-navigation .square:focus {
    background: #ddd;
  }