  .game {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 210px;
    right: 60px;
  } 

  .game img {
    position: absolute;
    width: 291px;
    height: 564px;
  }   

  .game-minimized{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: -225px;
    right: 60px;
    transition: transform .5s ease-in-out;
  }  
  
  .game-minimized:hover{
    position: absolute;
    transition: transform .5s ease-in-out;
    transform: translate3d(0px, -430px, 0px);
  }
  
  .game-minimized img {
    position: absolute;
    width: 291px;
    height: 564px;
  }
  
  .board-row {
    clear: both;
    content: "";
    display: table;
    position: relative;
    left: 25px;
    top: 50px;
  }